/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  width: 50%;
  margin: 80px auto;
}

.to_all_container {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 10px;
  border: 2px solid rgb(45, 44, 44);
  margin-bottom: 20px;
}

.user_photo {
  width: 150px;
  height: 100px;
}

.user_left {
  float: right;
}

.bio,
.posts {
  border: 2px solid rgb(45, 44, 44);
  padding: 5px;
  margin-bottom: 20px;
}

.btn {
  padding: 5px;
  border: 2px solid rgb(45, 44, 44);
  box-shadow: 6px 6px 5px 1px black;
}

a {
  text-decoration: none;
  color: black;
}

.btn_container {
  width: 100%;
  text-align: center;
}

.d-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.posts-btn {
  color: rgb(34, 32, 32);
  border: 2px solid rgb(34, 32, 32);
  border-radius: 4px;
  padding: 5px;
  margin: 5px 0 5px;
}

.post_form {
  display: flex;
  flex-direction: column;
}

.input_field {
  margin-bottom: 10px;
  display: flex;
}

.text_input {
  width: 92%;
  padding: 5px;
}
